
*{
    padding: 0%;
    margin: 0%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: gray;
    font-weight: 600;
    transition: 0.3s ease;
    transition: color 0.3s;
}

a:hover{
    color:aqua;
}

.main-container{
    background-color: #171717;
}

/* Navigation bar */
nav, footer {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #171717;
    border-bottom: 1px solid gray;
    align-items: center;
}

nav .logo-img-container, nav .logo-txt-container, nav .slu-img-container,
footer .logo-img-container, footer .logo-txt-container, footer .slu-img-container{
    width: 90px;
    height: 100%;
    margin: 0 5% 0;
}

nav .logo-img-container .logo-img,
nav .slu-img-container .slu-img,
footer .logo-img-container .logo-img,
footer .slu-img-container .slu-img{
    width: 100%;
    height: 100%;
}

nav .slu-img-container .slu-img,
footer .slu-img-container .slu-img{
    height: 98%;
    width: 100%;
}

nav .logo-txt-container,
footer .logo-txt-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 30%;
}

nav .logo-txt-container .logo-name,
nav .logo-txt-container .tagline,
footer .logo-txt-container .logo-name,
footer .logo-txt-container .tagline{
    margin-top: 5%;
}

nav .logo-name, nav .tagline,
footer .logo-name, footer .tagline{
    text-align: center;
    align-self: center;
    font-size: 3vmin;
    font-weight:bold;
    color: whitesmoke;
}

nav .tagline,
footer .tagline{
    margin-top: 5px;
    font-size: 1.5vmin;
}

/* Header */

header{
    padding-bottom: 13%;
}

header h1{
    margin-top: 30px;
    text-align: center;
    color: whitesmoke;
    background-color: none;
    font-size: 5vmin;
}

header .header-img-container{
    position: relative;
    margin: 30px 10% 10px;
    background-size: cover;
    height: 35vmax;
}

header .header-img-container .header-img{
    width: 100%;
    height: 100%;
}

header .reference{
    position: absolute;
    font-size: 1.5vmin;
    top: 1%;
    right: 2%;
}

header .definition-container{
    position: absolute;
    background-color: whitesmoke;
    height: auto;
    width: 80%;
    top: 80%;
    left: 10%;
}

header .definition-container h3, header .definition-container p,
header .info-reference{
    text-align: center;
}

header .definition-container h3{
    font-size: 2vmax;
    padding-top: 20px;
}

header .definition-container p{
    font-size: 1.2vmax;
    padding: 3% 10% 0;
}

header .info-reference{
    position: relative;
    color:#171717;
    font-size: 2vmin;
    display: block;
    padding: 3% 0 3%;
}

header .info-reference:hover{
    color: #0ecfff;
}

/* List section */

.list-section{
    justify-content: center;
    margin-bottom: 5%;
}

.list-section .list-container {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: 0 9% 0;
}

.list-section .list-container div{
    width: 30%;
    height: 10vmin;
    justify-content: center;
}

.list-section .list-container .list{
    align-self: center;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    font-size: 5vmin;
    cursor: pointer;
    transition: color 0.3s;
}

.list-section .list-container .list-option{
    font-size: 2vmin;
}

.list-section .list-container .list:hover{
    color: #0ecfff;
}

/* Importance */
.importance-title{
    margin: 5% 0 5%;
    text-align: center;
    color: whitesmoke;
    font-size: 4vmin;
}

.importance-section{
    display: flex;
    justify-content: space-between;
    margin: 0 9% 0;
}

.importance-section .img-container, .importance-section .txt-container{
    width: 48%;
}

.importance-section .img-container .importance-img{
    width: 100%;
    height: 100%;
}

.importance-section .img-container .img-reference{
    position: absolute;
    font-size: 1.5vmin;
    left: 35%;
}

.importance-section .txt-container{
    background-color: whitesmoke;
    align-self: center;
}

.importance-section .txt-container .txt-title{
    font-size: 2vw;
    text-align: center;
}

.importance-section .txt-container .txt-desc-1, 
.importance-section .txt-container .txt-desc-2
{
    font-size: 1vw;
    margin-top: 5%;
    margin: 5% 10% 5%;
}

.importance-section .txt-container .ref,
.importance-section .txt-container .ref .reference{
  font-size: 1vw;
  text-align: center;
}

/* Types */

.types-heading-title{
    margin-top: 5%;
    text-align: center;
    color: whitesmoke;
    font-size: 4vmin;
}

.types-section .types-row-1, .types-section .types-row-2{
    display: flex;
    justify-content: space-between;
    margin: 5% 9% 0;
}


.types-1, .types-2, .types-3, .types-4{
    position: relative;
    width: 46%;
    background-color: whitesmoke;
    color: black;
}

.types-img{
    width: 100%;
}

.types-title{
    text-align: center;
    font-size: 1.5vw;
}

.types-1 p, .types-2 p, .types-3 p, .types-4 p{
    text-align: left;
    font-size: 1vw;
    margin: 4% 8% 0;
}

.types-1 .reference, .types-2 .reference, .types-3 .reference, .types-4 .reference{
    margin: 2% 0 3%;
    display: block;
    text-align: center;
    font-size: 1.5vmin;
}

.types-1 .img-reference, .types-2 .img-reference, .types-3 .img-reference, .types-4 .img-reference{
    position: absolute;
    top: 1%;
    right: 4%;
    font-size: 1.5vmin;
}

/* Innovations */
.innovations-title{
    margin-top: 5%;
    text-align: center;
    color: whitesmoke;
    font-size: 4vmin;
}

.innovations-section{
    display: flex;
    justify-content: space-between;
    margin: 5% 9% 0;
}

.innovations-section .big-container-1, .innovations-section .big-container-2{
    position: relative;
    width: 48%;
}

.innovations-section .big-container-2{
    width: 50%;
}

.innovations-section .big-container-1 img, .innovations-section .big-container-2 img{
    width: 100%;
    filter: brightness(50%);
}

.innovations-section .big-container-1 a,
.row-container-1 .small-container-1 a,
.row-container-1 .small-container-2 a,
.row-container-2 .small-container-3 a,
.row-container-2 .small-container-4 a{
    position: absolute;
    font-size: 1.5vmin;
    width: 100%;
    left: 1%;
    bottom:1%;
}

.innovations-section .big-container-2 .row-container-1,
.innovations-section .big-container-2 .row-container-2{
    display: flex;
    justify-content: space-between;
   
}

.row-container-1 .small-container-1,
.row-container-1 .small-container-2{
    width: 48.3%;
    position: relative;
}

.row-container-2 .small-container-3,
.row-container-2 .small-container-4{
    width: 48%;
    margin-top: 2%;
    position: relative;
}

.big-container-1, .small-container-1, .small-container-2,
.small-container-3, .small-container-4{
    position: relative;
}

.about-1, .about-2{
    position: absolute;
    color: whitesmoke;
    top: 40%;
    margin: 0 20% 0;
}

.about-3, .about-4{
    position: absolute;
    color: whitesmoke;
    top: 30%;
    margin: 0 20% 0;
}

.title-1, .title-2, .title-3, .title-4, .title-5{
    margin-bottom: 5%;
    font-size: 2.5vw;
    text-align: center;
}

.title-2, .title-3, .title-4, .title-5{
    font-size: 1vw;
    width: 100%;
}
.description{
    font-size: 0.8vw;
}

.description-1{
    font-size: 1vw;
}

/* Footer */

footer {
    background-color: #171717;
    border-top: 1px solid gray;
    margin-top: 5%;
    height: 25%;
}

.creator{
    margin-top: 3%;
    font-size: 1vmin;
    color: whitesmoke;
    width: 100%;
    text-align: center;
}


@media only screen and (max-width: 800px){
    /* Importance */
    .importance-section .txt-container .txt-desc-1, 
    .importance-section .txt-container .txt-desc-2{
        font-size: 1.5vmin;
    }

    .importance-section .txt-container .ref,
    .importance-section .txt-container .ref .reference{
    font-size: 1.5vmin;
    }
    /* Types */

    .types-title{
        text-align: center;
        font-size: 2.5vmin;
    }

    .types-1 p, .types-2 p, .types-3 p, .types-4 p{
        font-size: 1.8vmin;
    }

    /* Innovations */

    .innovations-section{
        flex-direction: column;
        align-items: center;
    }

    .innovations-section .big-container-1, .innovations-section .big-container-2{
        width: 80%;
    }

    .about-1, .about-2{
        position: absolute;
        color: whitesmoke;
        top: 30%;
        margin: 0 15% 0;
    }
    
    .about-3, .about-4{
        position: absolute;
        color: whitesmoke;
        top: 20%;
        margin: 0 10% 0;
    }

    .title-1, .title-2, .title-3, .title-4, .title-5{
        font-size: 3vmin;
    }
    
    .title-2, .title-3, .title-4, .title-5{
        font-size: 2vmin;
    }

    .description{
        font-size: 1.5vmin;
    }
    
    .description-1{
        font-size: 2vmin;
    }
    
}




